@font-face {
    font-family: 'MyCustomFont';
    src: url('cff149ee1e9d2be50ac77bcd86769d05.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyCustomFont', sans-serif;
}