* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* :root {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
} */

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 48px;

}

nav {
    /* text-align: center; */
    display: flex;
    align-items: center;
    gap: 24px;

}

nav a {
    /* margin: auto 20px; */
    text-decoration: none;
    color: #0f1015;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 7px;
    transition: background-color .1s linear, border-radius .1s linear, color .1s linear;
}

header div .signup {
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid #666;
    border-radius: 7px;
    color: #0f1015;
}

.signup:hover {
    background-color: #f5f5f5;
    border: 1px solid #666;
    transition: background-color .1s linear, border-color .1s linear, color .1s linear;
}

header div .login {
    text-decoration: none;
    background-color: #8B3Dff;
    padding: 6px 12px;
    color: #ffffff;
    border-radius: 4px;
}

header div .login:hover {
    background-color: #7821fb;
    transition: background-color .1s linear;

}

.main {
    padding: 32px;
    background: linear-gradient(to bottom, #8B3Dff, #f1eef5);
}

.hero {
    margin-top: 48px;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 50%;
}

.left div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
    align-items: flex-start;
    height: 70%;
}

.left div h1>span {
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
}

.left div p {
    font-size: 16px;
    color: #f3f1f1;

}

.left button {
    background-color: #fbfafae5;
    padding: 10px 20px;
    margin: 9px 0 0 8px;
    border-radius: 7px;
    border: none;
}

.left button span {
    font-size: 14px;
    font-weight: 550;

}

.right {
    width: 50%;
    position: relative;

}

.right img {
    border-radius: 10px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.right>div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
}

.canva-explore {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #0f1015;
    margin-top: 100px;

}

.section-1 {
    display: flex;
    padding-top: 32px;
    flex-direction: column;
}

.tools-container {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tools {
    border: 2px solid black;
    background-color: #fff;
    padding: 8px;
    border-radius: 50px;
    border: none;
    /* box-shadow: 0 0 10px black; */
    /* box-shadow: 0px 2px 6px 0px #0d1127; */
    box-shadow: 2px 2px 6px 0px #00000050;
}

.tools button {
    padding: 12px 24px;
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
}

.tools .default:not(:hover) {
    background-image: linear-gradient(98deg,
            #00c4cc -9.02%,
            #5a32fa 77.89%,
            #7630d7 158.29%);
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.tools button:hover {
    background-image: linear-gradient(98deg,
            #00c4cc -9.02%,
            #5a32fa 77.89%,
            #7630d7 158.29%);
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.content-container {
    padding: 48px 20px 0;
    display: grid;
    width: 100%;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid red;
}

.content-container div {
    /* border: 2px solid red; */
    width: 100%;
}

.content-container .box-1 {
    grid-column: 1 / 3;
    position: relative;
}

.content-container .box-2 {
    position: relative;
}

.content-container .box-3 {
    position: relative;
}

.content-container .box-4 {
    grid-column: 2/ 4;
    position: relative;

}

.content-container .box-5 {
    grid-column: 1 / 3;
    position: relative;
}

.content-container .box-6 {
    position: relative;
}

.box-1 .box-1-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;

}

.box-1 p {
    position: absolute;
    color: #fbfbfc;
    font-size: 24px;
    top: 50px;
    left: 30px;
    width: 100%;
    font-weight: bold;
}

.box-1 a {
    position: absolute;
    color: #0f1015;
    font-weight: 550;
    font-size: 14px;
    top: 100px;
    left: 30px;
    background-color: #f8f8f8;
    padding: 10px 20px;
    margin: 9px 0 0 0;
    border-radius: 7px;
    border: none;
    text-decoration: none;
}

.box-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.box-p {
    position: absolute;
    font-size: 24px;
    top: 50px;
    left: 30px;
    font-weight: bold;
    color: #fbfbfc;
}

.box-a {
    position: absolute;
    color: #0f1015;
    font-weight: 550;
    font-size: 14px;
    top: 100px;
    left: 30px;
    background-color: #f8f8f8;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    border-radius: 7px;
    border: none;
    text-decoration: none;
}

.box-2 p {
    color: #0f1015;
}

/* section-1 end */

/* section-2 start */

.section-2 {
    padding: 48px 20px 0;
    margin-top: 150px;
    width: 100%;
    display: flex;
    border: 2px solid rgb(247, 10, 10);

}

.section-2-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.section-2-left h1 {
    font-size: 48px;
    font-family: sans-serif;
}

.section-2-left p {
    font-size: 16px;
    color: #0f1015;
    margin: 20px 0;
    line-height: 1.8;
}

.section-2-left div {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    /* .......................... */
}

.section-2-left div input {
    width: 580px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #666;
    color: #0f1015;
    padding: 0 16px;
    font-size: 16px;
}

.section-2-left div .generate {
    text-decoration: none;
    background-color: #8B3Dff;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 550;
}

.section-2-left div .generate:hover {
    background-color: #7821fb;
    transition: background-color .1s linear;

}

.section-2-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rebeccapurple;
    padding-left: 24px;
}

.section-2-right-img {
    width: 73%;
}

.section-2-right-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.small-images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 70px;

}

.img-box {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    background-color: #f8f8f8;
    border-radius: 15px;
    column-gap: 8px;


}

.img-box .s-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box .s-box img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.img-box .s-box p {
    padding: 2px;
    font-size: 12px;
    font-weight: 550;
}

.img-box .s-box div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #f1eef5;
    border: 1px solid #dedddd;
    border-radius: 10px;

}

.img-box .s-box img:hover {
    padding: 2px;
    border: 2px solid #7630d7;
    transition: border;
}