* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* :root {
    font-size: 10px;
}
    */

@font-face {
    font-family: "my-font";
    src: url("custom-font.woff2");
}

/* 
body {
    font-family: "my-font";
} */

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 48px;

}

nav {
    /* text-align: center; */
    display: flex;
    align-items: center;
    gap: 24px;

}

nav a {
    /* margin: auto 20px; */
    text-decoration: none;
    color: #0f1015;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 7px;
    transition: background-color .1s linear, border-radius .1s linear, color .1s linear;
}

header div .signup {
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid #666;
    border-radius: 7px;
    color: #0f1015;
}

.signup:hover {
    background-color: #f5f5f5;
    border: 1px solid #666;
    transition: background-color .1s linear, border-color .1s linear, color .1s linear;
}

header div .login {
    text-decoration: none;
    background-color: #8B3Dff;
    padding: 6px 12px;
    color: #ffffff;
    border-radius: 4px;
}

header div .login:hover {
    background-color: #7821fb;
    transition: background-color .1s linear;

}

.main {
    padding: 32px;
    background:
        linear-gradient(180deg, #2c2cff, #8B3Dff, #ffffff) 0 0 / 100% 800px no-repeat,
        #ffffff;
}

.hero {
    margin-top: 48px;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 50%;
}

.left div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
    align-items: flex-start;
    height: 70%;
}

.left div h1>span {
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
}

.left div p {
    font-size: 16px;
    color: #f3f1f1;

}

.left button {
    background-color: #fbfafae5;
    padding: 10px 20px;
    margin: 9px 0 0 8px;
    border-radius: 7px;
    border: none;
}

.left button span {
    font-size: 14px;
    font-weight: 550;

}

.right {
    width: 50%;
    position: relative;

}

.right img {
    border-radius: 10px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.right>div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
}

.canva-explore {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #0f1015;
    margin-top: 100px;

}

.section-1 {
    display: flex;
    padding-top: 32px;
    flex-direction: column;
}

.tools-container {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tools {
    border: 2px solid black;
    background-color: #fff;
    padding: 8px;
    border-radius: 50px;
    border: none;
    /* box-shadow: 0 0 10px black; */
    /* box-shadow: 0px 2px 6px 0px #0d1127; */
    box-shadow: 2px 2px 6px 0px #00000050;
}

.tools button {
    padding: 12px 24px;
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
}

.tools .default:not(:hover) {
    background-image: linear-gradient(98deg,
            #00c4cc -9.02%,
            #5a32fa 77.89%,
            #7630d7 158.29%);
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.tools button:hover {
    background-image: linear-gradient(98deg,
            #00c4cc -9.02%,
            #5a32fa 77.89%,
            #7630d7 158.29%);
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.content-container {
    padding: 48px 20px 0;
    display: grid;
    width: 100%;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.content-container div {
    /* border: 2px solid red; */
    width: 100%;
}

.content-container .box-1 {
    grid-column: 1 / 3;
    position: relative;
}

.content-container .box-2 {
    position: relative;
}

.content-container .box-3 {
    position: relative;
}

.content-container .box-4 {
    grid-column: 2/ 4;
    position: relative;

}

.content-container .box-5 {
    grid-column: 1 / 3;
    position: relative;
}

.content-container .box-6 {
    position: relative;
}

.box-1 .box-1-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;

}

.box-1 p {
    position: absolute;
    color: #fbfbfc;
    font-size: 24px;
    top: 50px;
    left: 30px;
    width: 100%;
    font-weight: bold;
}

.box-1 a {
    position: absolute;
    color: #0f1015;
    font-weight: 550;
    font-size: 14px;
    top: 100px;
    left: 30px;
    background-color: #f8f8f8;
    padding: 10px 20px;
    margin: 9px 0 0 0;
    border-radius: 7px;
    border: none;
    text-decoration: none;
}

.box-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.box-p {
    position: absolute;
    font-size: 24px;
    top: 50px;
    left: 30px;
    font-weight: bold;
    color: #fbfbfc;
}

.box-a {
    position: absolute;
    color: #0f1015;
    font-weight: 550;
    font-size: 14px;
    top: 100px;
    left: 30px;
    background-color: #f8f8f8;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    border-radius: 7px;
    border: none;
    text-decoration: none;
}

.box-2 p {
    color: #0f1015;
}

/* section-1 end */

/* section-2 start */

.section-2 {
    padding: 48px 20px 0;
    margin-top: 150px;
    width: 100%;
    display: flex;

}

.section-2-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.section-2-left h1 {
    font-size: 48px;
    font-family: sans-serif;
}

.section-2-left p {
    font-size: 16px;
    color: #0f1015;
    margin: 20px 0;
    line-height: 1.8;
}

.section-2-left div {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    /* .......................... */
}

.section-2-left div input {
    width: 580px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #666666e1;
    color: #0f1015;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
}

.section-2-left div input:hover {
    border: 1.5px solid #313131f9;
    transition: background-color .1s linear;
}

.input-icon {
    position: relative;
}

.input-icon .search-icon {
    position: absolute;
    top: 8px;
    left: 10px;

}

.input-icon .close-icon {
    position: absolute;
    top: 8px;
    right: 10px;

}

.section-2-left div .generate {
    text-decoration: none;
    background-color: #8B3Dff;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: 550;
}

.section-2-left div .generate:hover {
    background-color: #7821fb;
    transition: background-color .1s linear;

}

.section-2-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
}

.section-2-right-img {
    width: 73%;
}

.section-2-right-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.small-images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 70px;

}

.img-box {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 15px;
    column-gap: 8px;


}

.img-box .s-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box .s-box img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: all 0.1s linear;
}

.img-box .s-box p {
    padding: 2px;
    font-size: 12px;
    font-weight: 550;
}

.img-box .s-box div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #f1eef5;
    border: 1px solid #dedddd;
    border-radius: 10px;
}

.img-box .s-box img:hover {
    padding: 2px;
    border: 2px solid #7630d7;
}

/* section-2 end */

/* section-3 start */

.section-3 {
    padding: 48px 20px 0;
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.section-3-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-3-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #0f1015;
}

.section-3-content p {
    margin-top: 15px;
    font-size: 16px;
    color: #0f1015d9;
}

.section-3-box {
    width: 100%;
    padding-top: 32px;
    position: relative;
}

.section-3-box .container {
    width: 100%;
    padding: 48px 0;
    display: flex;
    width: 100%;
    gap: 24px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.section-3-box #right-angle {
    position: absolute;
    top: 50%;
    right: 5px;
    z-index: 10;
    font-size: 16px;
    background-color: #fafafa;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0 0 1px rgb(41, 40, 40);
}

.section-3-box #left-angle {
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0 0 1px rgb(41, 40, 40);
    position: absolute;
    top: 50%;
    left: 5px;
    z-index: 10;
    font-size: 16px;
    background-color: #fafafa;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-3-box .container::-webkit-scrollbar {
    display: none;
}

.section-3-box .container .box {
    width: 410px;
    height: 510px;
    position: relative;
    flex-shrink: 0;
    display: flex;

}

.container .box .box-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.container .box .box-p {
    position: absolute;
    font-size: 24px;
    top: 50px;
    left: 30px;
    font-weight: 600;
    color: #0f1015;
    font-family: 'Poppins', sans-serif;
}

.container .box .box-a {
    position: absolute;
    color: #0f1015;
    font-weight: 600;
    font-size: 14px;
    top: 100px;
    left: 30px;
    background-color: #f8f8f8;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    border-radius: 7px;
    border: none;
    text-decoration: none;
}

/* section-3 end  */

/* section-4 start */

.section-4 {
    padding: 48px 20px 0;
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.section-4-content {
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-4-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #0f1015;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: -0.01em;
}

.section-4-content a {
    margin-top: 15px;
    color: #0f1015;
    font-weight: bold;
    font-size: 14px;
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 0 0 2px #0f1015;
    text-decoration: none;
}

.section-4-container {
    width: 100%;
    /* padding: 48px 20px 0; */
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 24px;
}

.horizontal-scroll {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-4-container::-webkit-scrollbar {
    display: none;
}

.section-4-sub-1 {
    display: flex;
    gap: 24px;
}

.section-4-sub-1 .image-box {
    width: 200px;
    height: 270px;
    /* border: 2px solid #5a32fa; */

}

.section-4-sub-1 .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

.section-4-sub-2 {
    display: flex;
    gap: 24px;
}

.section-4-sub-2 .image-boxes {
    width: 550px;
    height: 270px;
}

.section-4-sub-2 .image-boxes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

.section-4-sub-2 .image-boxes-small {
    width: 200px;
    height: 270px;

}

.section-4-sub-2 .image-boxes-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

.section-4-sub-2 .image-boxes-medium {
    width: 400px;
    height: 270px;

}

.section-4-sub-2 .image-boxes-medium img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

.section-4-last {
    margin-top: 200px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-4-last p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #0f1015d9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.section-4-last .see-plan {
    margin-top: 15px;
    color: #0f1015;
    font-weight: bold;
    font-size: 14px;
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 0 0 1px #0f1015;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

.section-4-last .see-plan:hover {
    background-color: #efefef;
}

/* section-4 end */

/* section-5 start */
.footer {
    margin-top: 100px;
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.img-container {
    width: 100%;
    padding-bottom: 8px;
    border: 2px solid black;
}

.img-container img {
    width: 80px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 271px repeat(3, 1fr);
    border: 2px solid red;
    /* height: 300px; */
}

.grid-container div {
    border: 2px solid red;
}

.grid-1>.grid-1-content {
    padding: 24px 0 12px;
    color: #0f1015d9;
    height: 64px;
}

.button-container {
    display: flex;
    gap: 12px;
}

.button-container .grid-1-button {
    color: #0f1015;
    font-weight: bold;
    font-size: 14px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 0 0 1px #0f1015;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

.button-container .grid-1-button:hover {
    background-color: #efefef;
}

.grid-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 62px;
    color: #0f121ab2;
}

.grid-list {
    display: flex;
}

.grid-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;

}

.grid-list ul li {
    margin-top: 20px;
}

.grid-list ul li a {
    text-decoration: none;
    color: #0f1015;

}

