* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* :root {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
} */

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 48px;

}

nav {
    /* text-align: center; */
    display: flex;
    align-items: center;
    gap: 24px;

}

nav a {
    /* margin: auto 20px; */
    text-decoration: none;
    color: #0f1015;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 7px;
    transition: background-color .1s linear, border-radius .1s linear, color .1s linear;
}

header div .signup {
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid #666;
    border-radius: 7px;
    color: #0f1015;
}

.signup:hover {
    background-color: #f5f5f5;
    border: 1px solid #666;
    transition: background-color .1s linear, border-color .1s linear, color .1s linear;
}

header div .login {
    text-decoration: none;
    background-color: #8B3Dff;
    padding: 6px 12px;
    color: #ffffff;
    border-radius: 4px;
}

header div .login:hover {
    background-color: #7821fb;
    transition: background-color .1s linear;

}

.main {
    padding: 32px;
    height: 1600px;
    background: linear-gradient(to bottom, #8B3Dff, #f1eef5);
}

.hero {
    margin-top: 48px;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 50%;
}

.left div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
    align-items: flex-start;
    height: 70%;
}

.left div h1>span {
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
}

.left div p {
    font-size: 16px;
    color: #fff;

}

.left button {
    background-color: #ffffffe5;
    padding: 10px 20px;
    margin: 9px 0 0 8px;
    border-radius: 7px;
    border: none;
}

.left button span {
    font-size: 14px;

}

.right {
    width: 50%;
    position: relative;

}

.right img {
    border-radius: 10px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.right>div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
}

.canva-explore {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #0f1015;
    margin-top: 100px;

}

.section-1 {
    display: flex;
    padding-top: 32px;
}

.tools-container {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.tools {
    border: 2px solid black;
    background-color: #fff;
    padding: 8px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 10px black;
}

.tools button {
    padding: 12px 24px;
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
}